  *{
    font-family: 'Didact Gothic';
    font-size: 18px;

    overflow: hidden;
  }

  body{
    margin: 0;

  }

  .navbar{
    border-radius: 0px;
    padding: 10px 5px;
    background-color: #3f51b5;
  }

  .nav{
    width: 100%;
    color: white;
  }

  .nav .navbar-nav ul{
    margin: 3px 0;
    padding: 0px;
    display: inline-block;
  }

  .nav-link{
    list-style-type: none;
    display: inline-block;
  }

  .nav-link a{
    color: white;
    height: 35px;
    line-height: 35px;
    margin: 0 3px;
    display: block;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s ease;
  }

  .nav-link a:focus{
    background-color: #4350a0;
  }

  .nav-link a:hover{
    background-color: #4350a0;
  }

  .link-active{
    background-color: #4350a0;
  }

  footer{
    border-top: 1px solid #e7e7e7;
    width: 100%;
    height: 40px;
    margin-top: 50px;

  }

  footer p {
    text-align: center;
    line-height: 40px;
    padding: 0;
    margin: 0;
  }

  main {
    flex: 1;
  }

