.search-bar input{
  width: 300px;
  margin: 20px auto;
}

.search-bar .error-block {
  width: 300px;
  margin: -20px auto 0;
}

.event-add{
  padding: 0 ;
  text-align: center;
  width: 350px;
  height: 200px;
  margin: 10px 20px;
  background-color: #ececec;
  line-height: 200px;
  font-size: 70px;
  transition: 0.2s ease;
  cursor: pointer;
}

.event-add:hover{
  background-color: #d4d4d4;
}

.event-add-clicked{
  padding-top: 5px;
  width: 350px;
  height: 200px;
  margin: 10px 20px;
  box-shadow: 0px 0px 30px -1px rgba(166,166,166,0.55);
}

.event-add-clicked input{
  width: 300px;
  margin: 9px auto;
}

.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;

}

.btn-file{
  position: relative;
  overflow: hidden;
  margin: 5px 5px 5px;
}

.error-block{
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
