<div class="container">

  <div class="search-bar">
    <input #s class="form-control" type="text" placeholder="Search" (input)="search(s.value)" >
    <div [hidden]="!notFound" class="error-block">
      Not found
    </div>
  </div>


  <div class="row">
    <app-event-dash *ngFor="let event of events" [event]="event" (deleter)="delete($event)"></app-event-dash>
    <div [hidden]="searching" *ngIf="auth.isLoggedIn()">
    <div *ngIf="!addClicked" (click)="addClicked = !addClicked"  class="col-md-4 event-add">+</div>
    <div *ngIf="addClicked" class="col-md-4 event-add-clicked">
      <form  #form="ngForm">
        <input #name="ngModel" ngModel name="name" class="form-control" placeholder="Name" required/>
        <input #details="ngModel" ngModel name="details" class="form-control" placeholder="Details" required/>
        <input #date="ngModel" ngModel name="date" class="form-control" type="date" value="now" minDate="2000-01-01"  maxDate="2099-01-01" maxlength="10"  required />
        <div [hidden]="date.untouched || !date.invalid" class="error-block">
          Date must be between 2000 and 2099
        </div>


        <button style="margin-left: 10px" [disabled]="form.invalid" (click)="add(name.value, details.value, date.value)" class="btn">Add</button>
        <button (click)="addClicked = !addClicked" class="btn">Cancel</button>
        <label class="btn btn-default btn-file">
          Image<input #image name="image" (change)="getImage(image.files)" type="file" accept="image/*" required/>
        </label>
      </form>

    </div>
    </div>
  </div>

</div>
