<li class="row" [class.event-done]="event.done" >
  <input id="{{event.id}}" (change)="updateEvent()" class="event-done-checkBox" [(ngModel)]="event.done" type="checkbox"><label for="{{event.id}}"><span></span></label>
  <a class="col-md-9" [routerLink]="['/detail/' + event.id]">
    <span [class.event-done]="event.done">{{event.name}}</span>
  </a>
  <button class="col-md-2 btn"  [ngClass]="{vis: !auth.isLoggedIn()}" (click)="deleteEvent(event)">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <span class="date">{{event.date | date:"dd.MM"}}</span>
</li>
