/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
*{
    font-family: Calibri;
}

.error-block {
    color: #FF3434;
    margin-top: -10px;
    margin-left: 5px; 
    font-size: 13px;
}

input.ng-touched.ng-invalid {border:solid #FF4F4F 1px;}
 